@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: Inter, arial;
}

h1 {
  border: 3px solid black;
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: white;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 1;
  margin: -90px 20px;

}

nav a {
  text-decoration: none;
  color: white;
}

img {
  background-color: white;
  width: 30px;
  margin-top: 0px;
  margin-right: 10px;
}

.home {
  margin-top: 0px;
}

.contact {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: black;
  margin-bottom: 30px;
}

.bio-container {
  background-color: black;
  color: white;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

h2 {
  margin: 0;
}

.goals-container {

  color: black;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

.confidence-container {
  color: white;
  background-color: black;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

.future-container {

  color: black;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

.extra-container {
  color: white;
  background-color: black;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
  margin: 0;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  font-size: 13px;
}

@media(min-width: 768px) {
  .bio-container {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
  }

  h2 {
    margin: 0;
  }

  .goals-container {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
  }

  .confidence-container {
    color: white;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
  }

  .future-container {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
  }

  .extra-container {
    color: white;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.2);
    margin: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
  }
}